body{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    display: grid;
    grid-template: 
        "header header header header"
        "aside main main main"
        "footer footer footer footer";
}

header, main, aside, footer{
    background-color: lightskyblue;
    margin: 5px;
    padding: 10px;
}

header{
    grid-area: header;
}

aside{
    grid-area: aside;
    height: 180px;
}

aside nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 50px;
    padding-left: 10px;
    margin: 0;
}

main{
    grid-area: main;
}

main nav ul{
    list-style: disc;
}

footer{
    grid-area: footer;
}

@media(max-width: 500px){
    body{
        display: grid;
        grid-template-areas: 
        "header header"
        "aside aside"
        "main main"
        "footer footer";
    }
}
