body{
    padding: 50px;
}

header{
    display: flex;
}

header h1{
    font-family: Helvetica, sans-serif;
    width: 100%;
}


nav{
    display: flex;
    width: 100%;
}

ul{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: flex-end;
    margin: 10px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(0, 153, 0);
}

main h1{
    font-weight: 10;
}

p{
    font-family: Helvetica, sans-serif;
    font-size: medium;
}