body{
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

div{
    margin: 20px;
    box-shadow: 0px 0px 5px black;
}

.login{
    width: 400px;
    height: 200px;
}

span{
    justify-content: center;
    display: block;
    width: 100%;
}

p{
    display: inline-block;
}

input{
    display: inline-block;
}

.area{
    all: unset;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding-left: 25%;
}

div div{
    position: relative;
    display: flex;
    top: -15px;
    left: -20px;
    background-color: white;
    height: 25px;
    width: 150px;
    padding-left: 5px;
    padding-bottom: 0;
    align-items: center;
}

@media(max-width: 1000px){
    .login{
        width: 300px;
        height: 150px;
    }

    .area{
        padding-left: 10%;
    }
    
}

@media(max-width: 800px){
    .login{
        width: 250px;
        height: 125px;
    }

    .area{
        padding-left: 8%;
        padding-top: 0;
    }

    div div{
        margin-bottom: 0;
    }
}

@media(max-width: 800px){
    .login{
        width: 200px;
        height: 100px;
    }

    body{
        font-size: 8px;
    }

    .area{
        padding-left: 0%;
        padding-top: 0;
    }

    span input{
        font-size: 8px;
    }

    div div{
        margin-bottom: 0;
    }
}