body{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.card{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    height: 90px;
    width: 350px;
    box-shadow: 1px 1px 20px grey;
    border-radius: 5px;
}

div.card h3{
    margin: 0px;
}

div.card p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    margin-top: 5px;
}