body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

nav, footer{
    background-color: #CCCCCC;
}


ul{
    background-color: #444;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li{
    size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}

a{
    text-decoration: none;
    color: #ffffff;
}

section {
    margin-left: 20px;
}

section header h1 {
    font-size: 28px;
}

section header p {
    font-style: italic;
}

section p {
    font-size: 24px;
}

footer{
    background-color: #444;
}

footer p{
    color: #fff;
    text-align: center;
    padding: 10px;
}