body{
    font-family: Helvetica;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    padding: 40px;
    padding-top: 30px;
    display: flex;
}

body{
    display: flex;
}

h1, h2{
    font-family: serif;
}

article{
    width: 100%;
    display: inline-block;
}

img{
    width: 75%;
}

aside{
    padding-left: 20px;
}

aside ul{
    padding-left: 30px;
    width: 200px;
}